@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Noto+Sans+KR:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.body{
    font-size: 17px;
    color: #222;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header .logo{
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin-left: 16px;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 38px;
    height: 38px;
    background-color: #ccc;
    border-radius: 100%;
    z-index: -1;
}

.header .bars{
    display: none;
}

.gnb{
    display: flex;
    align-items: center;
}

.gnb li a{
    height: 80px;
    display: block;
    line-height: 80px;
    text-align: center;
    padding: 0 40px;
    font-weight: 700;
}

.container{
    width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.container img{
    width: 100%;
}

/* hero */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 0;
}

.hero .text_box{
    flex: 1;
}

.hero .text_box h4{
    font-size: 20px;
    font-weight: 700px;
}

.hero .text_box h2{
    margin: 50px 0;
    font-size: 80px;
    font-weight: 700;
}

.hero .text_box p{
    font-size: 17px;
    width: 86%;
}

.hero .photo{
    /* flex: 1; */
    /* text-align: right; */
    width: 500px;
    position: relative;
}

.hero .photo img{
    /* width: 500px; */
    display: block;
    border-radius: 100%;
    border-top-right-radius: 0 ;
}

.hero .photo::after{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    background-color: #b5e0f4;
    z-index: -1;
    border-radius: 100%;
    border-top-right-radius: 0 ;
}

/* skill */

.skill{
    display: flex;
    align-items: center;
}

.skill .item{
    flex: 1;
    padding: 138px 40px;
    text-align: center;
}

.item .shape{
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.item h3{
    font-size: 27px;
    font-weight: 700;
    margin: 60px 0 40px;
}

.item p{
    font-size: 17px ;
}

/* works */

.works{
    padding: 66px 0;
}

.works h2{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.works ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}

.works ul li .photo{
    height: 330px;
}

.works ul li .photo img{
    height: 100%;
    object-fit: cover;
}

.works ul li .title{
    padding: 20px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.works ul li .title h3{
    font-size: 20px;
    font-weight: 700;
}

.works ul li .title p{
    font-size: 17px;
}